<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codeman22.chat.dao.UserMapper" >

  <resultMap id="BaseResultMap" type="com.codeman22.chat.entity.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="face_image" property="faceImage" jdbcType="VARCHAR" />
    <result column="face_image_big" property="faceImageBig" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="VARCHAR" />
    <result column="qr_code" property="qrCode" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, user_name, password, face_image, face_image_big, nick_name, cid, qr_code
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>

    <select id="listFriendRequest" resultType="com.codeman22.chat.dto.FriendRequestMsg" parameterType="java.lang.String" >
        SELECT sender.id as sendUserId,
               sender.user_name as sendUserName,
               sender.face_image as sendFaceImage,
               sender.nick_name as sendNickName
        FROM
          friend_request fr
        LEFT JOIN
          user sender
        ON
          fr.send_user_id = sender.id
        where
          fr.accept_user_id = #{acceptUserId,jdbcType=VARCHAR}
    </select>

  <select id="getUserByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.codeman22.chat.entity.User" >
    insert into user (id, user_name, password,
      face_image, face_image_big, nick_name,
      cid, qr_code)
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{faceImage,jdbcType=VARCHAR}, #{faceImageBig,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
      #{cid,jdbcType=VARCHAR}, #{qrCode,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.codeman22.chat.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="faceImage != null" >
        face_image,
      </if>
      <if test="faceImageBig != null" >
        face_image_big,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="qrCode != null" >
        qr_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="faceImage != null" >
        #{faceImage,jdbcType=VARCHAR},
      </if>
      <if test="faceImageBig != null" >
        #{faceImageBig,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null" >
        #{qrCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.codeman22.chat.entity.User" >
    update user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="faceImage != null" >
        face_image = #{faceImage,jdbcType=VARCHAR},
      </if>
      <if test="faceImageBig != null" >
        face_image_big = #{faceImageBig,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null" >
        qr_code = #{qrCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.codeman22.chat.entity.User" >
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      face_image = #{faceImage,jdbcType=VARCHAR},
      face_image_big = #{faceImageBig,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=VARCHAR},
      qr_code = #{qrCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>